nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  background-color: #4056A1;
  color: white;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: absolute;
}

#logo {
  font-family: Bungee;
  font-size: 35px;
}

#arrow-down {
  display: flex;
  color: red;
  justify-content: center;
}