nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  background-color: #4056A1;
  color: white;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed;
  top: 0;
}

#logo {
  font-family: Bungee;
  font-size: 35px;
}

button {
  font-weight: 300;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

button #arrow-down {
  display: flex;
  color: red;
  justify-content: center;
  margin-top: 4%;
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(10px); }
  100% { transform: translateY(0); }
}