.new-tweet {
  display: flex;
  margin-top: 2%;
  margin-bottom: 1%;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.new-tweet label {
  font-weight: 400;
}

#tweet-text {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  border-bottom: solid;
  width: 600px;
}

.new-tweet button {
  display: flex;
  font-family: Bungee;
  background-color: #4056A1;
  color: white;
  border: none;
}

.counter {
  display: flex;
  font-family: Bungee;
  justify-content: end;
}

.new-tweet footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#negative-counter {
  color: red;
}

.error {
  font-weight: 400;
  color: red;
  border: solid;
  width: 600px;
  margin-top: 1%;
  margin-bottom: 3%;
  padding-left: 2%;
  background-color: rgb(253, 219, 219);
  display: none;
}