#tweets-container {
  margin-top: 1%;
}

.tweet {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 300%;
  border: solid;
  font-size: 20px;
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 2.5%;
  padding: 1.5%;
}

.tweet header {
  background-color: transparent;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  background-image: none;
  margin-bottom: 2%;
}

.tweet header img {
  height: 40px;
}

.tweet header section {
  display: flex;
  justify-content: space-around;
}

.tweet header span {
  display: flex;
  align-self: center;
  margin-left: 10px;
}

.tweet header div {
  color: rgb(155, 155, 155);
}

.tweet p {
  font-weight: 400;
  margin: 2%;
  margin-bottom: 4%;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
  border-top: solid;
  font-size: 15px;
  padding-top: 1%;
  align-items: baseline;
}

.tweet footer button {
  color: #4056A1;
  font-size: 12px;
  border: none;
}